aiohttp==3.10.10
redis==5.2.1
pandas==2.2.3
numpy==2.1.3
ccxt==4.4.45
smartapi-python==1.5.5
pyotp==2.9.0
python-telegram-bot==21.7
pydantic==2.10.3
pydantic-settings==2.6.1
hmmlearn==0.3.3
scikit-learn==1.5.2
scipy==1.14.1
loguru==0.7.2
pytz==2024.2
